<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Django Appy</title>
  </head>
  <body>
    <div class="container p-5">
        <div class="row">
            <p>
  <a href="{% url 'home' %}">Start again</a> | <a href={% url 'about' %}>About Game</a>
</p>
        </div>
      <div class="row">
        <div class="col-md-8 offset-md-2 center bold">
          <h2>about - the django</h2>

          <form action="{% url 'count' %}">
            <div class="form-group">
              <textarea cols="40" rows="10" name="fulltext"> </textarea>
            </div>
            <div class="form-group">
              <input
                type="submit"
                class="btn btn-primary btn-large"
                value="Count"
              />
            </div>
            <br />
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
