<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Enter your description here" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Django Appy</title>
  </head>
  <body>
     <header class="p-3 bg-primary-subtle">
        <ul class="nav shadow p-3 mb-5 bg-body-tertiary rounded">
             <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">WORD COUNT APP</a>
  </li>
  <li class="nav-item">
    <a  class="nav-link active" aria-current="page" href="{% url 'home' %}">Start again</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={% url 'about' %}>About Game</a>
  </li>

 
</ul>
    </header>
    <div class="container p-5">
      <div class="row">
        <div class="col-md-8 offset-md-2 center bold">
          <h3>about - the django</h3>

          <p>
A simple app that allows users enter text and upon submission, returns the cuont of the words enter and a list of individual words and the counts.

          </p>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
  </body>
</html>
